# List of List

In [1]:
emp1 = ['danish', 21, 50000.0, 'male']
emp2 = ['ali', 23, 25000.0, 'male']
emp3 = ['aliza', 150000.0, 'female']
emp4 = ['aisha', 20000.0, 'female']

In [2]:
print(emp1, emp2, emp3, emp4)

['danish', 21, 50000.0, 'male'] ['ali', 23, 25000.0, 'male'] ['aliza', 150000.0, 'female'] ['aisha', 20000.0, 'female']

In [3]:
value = [12, 25.2, 'danial', ['ali', 21]]
print(value)

[12, 25.2, 'danial', ['ali', 21]]

In [4]:
print(value[-1])

['ali', 21]

In [5]:
print(value[-1][0])

ali

In [6]:
print(value[-1][-2])

ali

In [9]:
emps = [['danish', 21, 50000.0, 'male'], emp2, emp3, emp4]

In [10]:
emps

[['danish', 21, 50000.0, 'male'],
 ['ali', 23, 25000.0, 'male'],
 ['aliza', 150000.0, 'female'],
 ['aisha', 20000.0, 'female']]

In [11]:
emps[0][0]

'danish'

In [13]:
emps[-1][1]

20000.0

# For Loop

In [14]:
emps

[['danish', 21, 50000.0, 'male'],
 ['ali', 23, 25000.0, 'male'],
 ['aliza', 150000.0, 'female'],
 ['aisha', 20000.0, 'female']]

In [18]:
for data in range(4, 20, 2):
    print(data)

4
6
8
10
12
14
16
18

In [20]:
for i in range(0, 4):
    print(emps[i])

['danish', 21, 50000.0, 'male']
['ali', 23, 25000.0, 'male']
['aliza', 150000.0, 'female']
['aisha', 20000.0, 'female']

In [26]:
for i in range(0, 4):
    print(emps[i][-1])

male
male
female
female

In [30]:
for i in emps:
    print(i[-1])

male
male
female
female