# Conditional Statement
    - syntax:
        * if condition:
            statement
          else:
            statement

In [2]:
age = 15
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

In [6]:
age = int(input("Enter any number: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter any number: 18
Eligible to vote

In [7]:
age >= 18

True

# Rational Operators

- greater then
- less then
- greater then or equal too
- less then or equal too
- not equal too
- equal too

In [8]:
percentage = 55
if percentage >= 50:
    print('pass')
else:
    print('fail')

pass

In [9]:
import csv
open_file = open("data.csv")
read_file = csv.reader(open_file)
datasets = list(read_file)

In [10]:
datasets

[['Roll No', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [11]:
datasets[0]

['Roll No', 'Name', 'Chemistry', 'Physics', 'Maths']

In [12]:
len(datasets)

22

In [19]:
mark_chem = []
for i in datasets[1:]:
    chem = int((i[2]))
    mark_chem.append(chem)
    s = sum(mark_chem)
    avg_chem = round(s / len(datasets), 2)

In [14]:
avg_chem

40.18

In [15]:
for i in datasets[1:]:
    chem = int(i[2])
    phy = int(i[3])
    math = int(i[4])
    percentage = round((chem+phy+math)/300*100, 2)
    print(f'Percentage of {i[1]} is {percentage}')
    i.append(percentage)

Percentage of Aliza is 77.33
Percentage of Soban is 78.0
Percentage of Noman is 75.33
Percentage of Bilal is 71.33
Percentage of Saim is 63.67
Percentage of Shameer is 57.0
Percentage of Zainab is 72.33
Percentage of Umer is 68.33
Percentage of Umair is 69.0
Percentage of Fizzah is 71.33
Percentage of Zahra is 77.67
Percentage of Fatima is 77.33
Percentage of Tooba is 72.0
Percentage of Saad is 69.67
Percentage of Azher is 77.33
Percentage of Danial is 67.67
Percentage of kaiser is 74.0
Percentage of Jibran is 67.0
Percentage of Maria is 68.67
Percentage of Amna is 72.67
Percentage of Noreen is 75.0

In [16]:
datasets[0]

['Roll No', 'Name', 'Chemistry', 'Physics', 'Maths']

In [17]:
datasets[0].append('percentage')

In [18]:
datasets

[['Roll No', 'Name', 'Chemistry', 'Physics', 'Maths', 'percentage'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [20]:
datasets

[['Roll No', 'Name', 'Chemistry', 'Physics', 'Maths', 'percentage'],
 ['101', 'Aliza', '45', '99', '88', 75.0],
 ['102', 'Soban', '50', '97', '87', 75.0],
 ['103', 'Noman', '43', '94', '89', 75.0],
 ['104', 'Bilal', '42', '87', '85', 75.0],
 ['105', 'Saim', '39', '76', '76', 75.0],
 ['106', 'Shameer', '38', '58', '75', 75.0],
 ['107', 'Zainab', '47', '92', '78', 75.0],
 ['108', 'Umer', '46', '86', '73', 75.0],
 ['109', 'Umair', '35', '83', '89', 75.0],
 ['110', 'Fizzah', '36', '81', '97', 75.0],
 ['111', 'Zahra', '49', '90', '94', 75.0],
 ['112', 'Fatima', '45', '88', '99', 75.0],
 ['113', 'Tooba', '43', '80', '93', 75.0],
 ['114', 'Saad', '42', '90', '77', 75.0],
 ['115', 'Azher', '41', '93', '98', 75.0],
 ['116', 'Danial', '34', '82', '87', 75.0],
 ['117', 'kaiser', '45', '91', '86', 75.0],
 ['118', 'Jibran', '46', '77', '78', 75.0],
 ['119', 'Maria', '43', '69', '94', 75.0],
 ['120', 'Amna', '38', '89', '91', 75.0],
 ['121', 'Noreen', '37', '98', '90', 75.0]]