In [39]:
import datetime as dt

In [40]:
date = '30-March-2020'
date

'30-March-2020'

In [41]:
# %d = day eg:1-31
# %m = Month as a number eg: 0-12
# %b = Month name, short version
# %B = Month name, full version
# %y = year short version, without century eg: 18
# %Y = year, full version eg: 2018
pattern = '%d-%B-%Y'

# dt.datetime.strptime()

In [42]:
# strptime = convert string value to date time
date = dt.datetime.strptime(date, pattern)
print(date)

2020-03-30 00:00:00

In [43]:
type(date)

datetime.datetime

# Attributes of Date Time
- year
- month
- day
- hour
- minute
- second

In [44]:
date.year

2020

In [45]:
date.month

3

In [46]:
date.day

30

In [47]:
date.hour

0

In [48]:
from csv import reader

In [49]:
dataset = list(reader(open('datetime_data.csv')))

In [50]:
header = dataset[0]
dataset = dataset[1:]

In [51]:
pattern = '%d-%b-%y'
for i in dataset:
    i[1] = dt.datetime.strptime(i[1], pattern)
    print(i[1])

2010-02-01 00:00:00
2010-08-02 00:00:00
2011-02-03 00:00:00
2010-07-30 00:00:00
2010-07-05 00:00:00
2010-04-06 00:00:00
2010-02-07 00:00:00
2010-03-08 00:00:00
2010-05-09 00:00:00
2015-02-10 00:00:00
2015-02-11 00:00:00
2015-06-12 00:00:00
2015-05-13 00:00:00
2015-02-14 00:00:00
2014-05-15 00:00:00
2012-02-16 00:00:00
2018-05-17 00:00:00
2018-05-18 00:00:00
2018-05-24 00:00:00
2010-02-20 00:00:00

In [52]:
dataset

[['101', datetime.datetime(2010, 2, 1, 0, 0), 'Aliza', '50', '23', '87'],
 ['102', datetime.datetime(2010, 8, 2, 0, 0), 'Fareed', '45', '24', '88'],
 ['103', datetime.datetime(2011, 2, 3, 0, 0), 'Basit', '46', '25', '89'],
 ['104', datetime.datetime(2010, 7, 30, 0, 0), 'Abdullah', '47', '26', '90'],
 ['105', datetime.datetime(2010, 7, 5, 0, 0), 'Ali', '48', '27', '67'],
 ['106', datetime.datetime(2010, 4, 6, 0, 0), 'Mubashir', '49', '28', '68'],
 ['107', datetime.datetime(2010, 2, 7, 0, 0), 'Waleed', '50', '29', '69'],
 ['108', datetime.datetime(2010, 3, 8, 0, 0), 'Mansoor', '51', '30', '70'],
 ['109', datetime.datetime(2010, 5, 9, 0, 0), 'Zain', '52', '31', '71'],
 ['110', datetime.datetime(2015, 2, 10, 0, 0), 'Mohsin', '53', '67', '72'],
 ['111', datetime.datetime(2015, 2, 11, 0, 0), 'Shahmeer', '54', '68', '73'],
 ['112', datetime.datetime(2015, 6, 12, 0, 0), 'Rao', '55', '69', '74'],
 ['113', datetime.datetime(2015, 5, 13, 0, 0), 'Aurangzeb', '56', '70', '75'],
 ['114', datetime.datetime(2015, 2, 14, 0, 0), 'Zeeshan', '57', '71', '76'],
 ['115', datetime.datetime(2014, 5, 15, 0, 0), 'Humza', '58', '72', '77'],
 ['116', datetime.datetime(2012, 2, 16, 0, 0), 'Hamza', '59', '73', '78'],
 ['117', datetime.datetime(2018, 5, 17, 0, 0), 'Khalid', '60', '74', '79'],
 ['118', datetime.datetime(2018, 5, 18, 0, 0), 'Behroz', '61', '75', '80'],
 ['119', datetime.datetime(2018, 5, 24, 0, 0), 'Justin', '62', '76', '81'],
 ['120', datetime.datetime(2010, 2, 20, 0, 0), 'Danial', '63', '77', '82']]

In [53]:
for i in dataset:
    print(i[1].year)

2010
2010
2011
2010
2010
2010
2010
2010
2010
2015
2015
2015
2015
2015
2014
2012
2018
2018
2018
2010

In [54]:
year_admission = {}
for i in dataset:
    year = i[1].year
    if year in year_admission:
        year_admission[year] += 1
    else:
        year_admission[year] = 1

In [55]:
year_admission

{2010: 9, 2011: 1, 2015: 5, 2014: 1, 2012: 1, 2018: 3}

# datetime.strftime

In [56]:
date

datetime.datetime(2020, 3, 30, 0, 0)

In [57]:
date.year

2020

In [58]:
for i in dataset:
    print(i[1].month)

2
8
2
7
7
4
2
3
5
2
2
6
5
2
5
2
5
5
5
2

In [59]:
month = date.strftime('%B')
month

'March'

In [60]:
month_admission = {}
for i in dataset:
    month = i[1].strftime('%B')
    if month in month_admission:
        month_admission[month] += 1
    else:
        month_admission[month] = 1

In [61]:
month_admission

{'February': 8,
 'August': 1,
 'July': 2,
 'April': 1,
 'March': 1,
 'May': 6,
 'June': 1}

# Timedelta

In [70]:
current_date = dt.datetime.now()
print(current_date)

2024-09-04 21:18:47.800641

In [71]:
admission = 10
admission

10

In [72]:
admission = dt.timedelta(days = admission)
print(admission)

10 days, 0:00:00

In [73]:
admission = current_date + admission
print(admission)

2024-09-14 21:18:47.800641

In [74]:
admission = admission.strftime('%d/%B/%Y')
print(admission)

14/September/2024

In [81]:
start_meeting = '30-Mar-20 4:30PM'
end_meeting = '3-Mar-20 8:45PM'
pattern = '%d-%b-%y %H:%M%p'

In [82]:
start_meeting = dt.datetime.strptime(start_meeting, pattern)
print(start_meeting)

2020-03-30 04:30:00

In [83]:
end_meeting = dt.datetime.strptime(end_meeting, pattern)
print(end_meeting)

2020-03-03 08:45:00

In [84]:
start_meeting.hour

4

In [85]:
start_meeting.minute

30

In [86]:
end_meeting.hour

8

In [87]:
end = dt.timedelta(hours=end_meeting.hour, minutes=end_meeting.minute)
print(end)

8:45:00

In [88]:
start = dt.timedelta(hours=start_meeting.hour, minutes=start_meeting.minute)
print(start)

4:30:00

In [93]:
duration = end - start
print(duration)

4:15:00